<!DOCTYPE html>
<html>

<head>
  <title>Product</title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
  <div>
    <img src="/images/pngtree-file-icon-design-vector-png-image_5506121.png">
  </div>
</body>

</html>