<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Man's blog</title>

  <!--
    - favicon
  -->
  <link rel="shortcut icon" href="/images/blog-1" type="image/x-icon">

  <!--
    - custom css link
  -->
  <link rel="stylesheet" href="/stylesheets/stylehome.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css"
    integrity="sha512-5A8nwdMOWrSz20fDsjczgUidUBR8liPYU+WymTZP1lmY9G6Oc7HlZv156XqnsgNUzTyMefFTcsFH/tnJE/+xBg=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
  <!--
    - google font link
  -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;900&display=swap" rel="stylesheet">
</head>

<body class="light-theme">

  <!--
    - #HEADER
  -->


  <header>

    <div class="container">

      <nav class="navbar">


        <div class="flex-wrapper">

          <ul class="desktop-nav">

            <li>
              <a href="#home" class="nav-link">Home</a>
            </li>

            <li>
              <a href="#blog" class="nav-link">Blog</a>
            </li>

            <li>
              <a href="#home" class="nav-link">About Me</a>
            </li>

            <li>
              <a href="#certificate" class="nav-link">Certificate</a>
            </li>

            <li>
              <a href="#languages" class="nav-link">Languages and Techniques</a>
            </li>


            <li>
              <a href="#contact" class="nav-link">Contact</a>
            </li>

          </ul>

          <button class="button1">
            <h1>Login</h1>
          </button>
        </div>

      </nav>

    </div>

  </header>

  <main>

    <!--
      - #HERO SECTION
    -->

    <div id="home" class="hero">

      <div class="container">

        <div class="left">

          <h1 class="h1">
            <b>Connect. Merge. Work</b>.
          </h1>
          <h3 class="h3">Empower Your Workforce, Streamline Your Success</h3>
          <div class="btn-group">
            <a href="#" class="btn btn-primary">Post Job</a>
            <a href="#" class="btn btn-secondary">Get Hired</a>
          </div>

        </div>

        <div class="right">

          <div class="pattern-bg"></div>
          <div class="img-box">
            <img src="/images/Author.jpg" class="hero-img">
          </div>

        </div>

      </div>

    </div>

    </div>


    <div class="main">

      <div class="container">

        <div class="column" >
          <div class="introduce">
            <h1>Human Resources Portal</h1>
          </div>
          <div class="introduce">
            <h3>Welcome to the Human Resources Portal. We believe that human resource development is a key activity associated with the
            "Quality Growth" strategy. Here, employees work in a dynamic, professional, open environment, with "high quality",
            friendly, and supportive colleagues and managers.</h3>
          </div>
        </div>

        <div class="column2">
          <div class="column3">
            <img src="/images/author.jpg" alt="Connect Icon" class="icon">
            <h3>Connect</h3>
            <p>StaffMerge’s mission is to CONNECT Employers with Job Seekers in an effective and efficient platform, making it
              easier for both.</p>
          </div>
          <div class="column3">
            <img src="/images/author.jpg" alt="Merge Icon" class="icon">
            <h3>Merge</h3>
            <p>Using Resumes, Video Introductions, Video Interviews, and Direct Messages, StaffMerge’s platform goal is to MERGE
              Employers and Job Seekers.</p>
          </div>
          <div class="column3">
            <img src="/images/author.jpg" alt="Work Icon" class="icon">
            <h3>Work</h3>
            <p>After Employers and Job Seekers have connected and merged, now it is time to WORK, mutually benefiting both.</p>
          </div>
        </div>


      </div>

    </div>

  </main>

  <div class="map-section">
    <img src="/images/map.png" alt="Map">
  </div>



  <!--
    - #FOOTER
  -->

  <footer>

    <div class="container">

      <div class="wrapper">

        <p class="footer-text">
          <span>Jim Rohn: </span>
          "If you are not willing to risk the unusual, you will have to settle for the ordinary."
        </p>

      </div>

      <div class="wrapper">

        <p class="footer-title">Quick Links</p>

        <ul>

          <li>
            <a href="#" class="footer-link">About Us</a>
          </li>

          <li>
            <a href="#" class="footer-link">Contact Us</a>
          </li>

        </ul>

      </div>

      <div class="wrapper">

        <p class="footer-title">Interest</p>

        <ul>

          <li>
            <a href="#" class="footer-link">Coding</a>
          </li>

          <li>
            <a href="#" class="footer-link">Trading</a>
          </li>
        </ul>

      </div>

    </div>

    <p class="copyright">
      &copy; Copyright 2024 <a href="#">NHM</a>
    </p>

  </footer>

</body>

</html>