<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css"
        integrity="sha512-5A8nwdMOWrSz20fDsjczgUidUBR8liPYU+WymTZP1lmY9G6Oc7HlZv156XqnsgNUzTyMefFTcsFH/tnJE/+xBg=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="/stylesheets/stylelogin.css">


    <!-- google font link -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;900&display=swap" rel="stylesheet">


</head>

<body class="light-theme">
    <header>

        <div class="container">

            <nav class="navbar">

                <div class="flex-wrapper">
                    <ul class="desktop-nav">
                        <li><a href="/adminhome" class="nav-link">HOME</a></li>
                        <li>
                            <a href="/adminhome/user" class="nav-link">User</a>
                        </li>

                        <li>
                            <a href="/adminhome/Register" class="nav-link1">Create User</a>
                        </li>

                        <li>
                            <a href="/adminhome/ViewProfile" class="nav-link">View Profile</a>
                        </li>

                        <li>
                            <a href="/adminhome/request" class="nav-link">Request</a>
                        </li>
                        <li>
                            <a href="/adminhome/timesheet" class="nav-link">Timesheet</a>
                        </li>
                        <li>
                            <a href="/adminhome/Activity" class="nav-link">Activity</a>
                        </li>
                        <li>
                            <a href="/adminhome/admin/monthlyRewardForm" class="nav-link">Monthly Reward</a>
                        </li>
                        <li>
                            <a href="/adminhome/admin/history" class="nav-link">History Reward</a>
                        </li>
                        <li></li>
                        <a href="/adminhome/admin/givePointsForm" class="nav-link">Give Reward</a>
                        </li>
                    </ul>
                    <a href="/" class="button1">
                        <h1>Logout</h1>
                    </a>
                </div>

            </nav>

        </div>

    </header>
    <main>
        <form action="/adminhome/register/Create_user" method="post">
            <div class="form-wrapper">

                <img src="/images/Author.jpg" alt="Descriptive image text" class="form-image">

                <div class="form-container">

                    <h2>Register</h2>
                    <div class="form-group">

                        <label for="name">LoginName:</label>
                        <input type="text" id="name" name="username" placeholder="Enter your name" required
                            autocomplete="off">
                    </div>
                    <div class="form-group">
                        <label for="password">password:</label>
                        <input type="password" id="password" name="password" placeholder="password" required>
                    </div>
                    <div class="form-group">
                        <label for="type">Type:</label>
                        <input type="type" id="type" name="type" placeholder="type" required>
                    </div>
                    <button type="submit" class="submit-btn">Register</button>

                </div>
                <a href="/" class="icon-box">
                    <span class="icon_close"><i class="fa fa-times close-btn" aria-hidden="true"></i></span>
                </a>
            </div>
        </form>
    </main>



</body>

</html>