<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Activity Request</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css"
    integrity="sha512-5A8nwdMOWrSz20fDsjczgUidUBR8liPYU+WymTZP1lmY9G6Oc7HlZv156XqnsgNUzTyMefFTcsFH/tnJE/+xBg=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
  <link rel="stylesheet" href="/stylesheets/styleuser.css">

  <!-- google font link -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;900&display=swap" rel="stylesheet">
</head>

<body class="light-theme">
  <header>
    <div class="container">
      <nav class="navbar">
        <div class="flex-wrapper">
          <ul class="desktop-nav">
            <li><a href="/usersHome" class="nav-link">Profile</a></li>
            <li>
              <a href="/usersHome/Request" class="nav-link">Request</a>
            </li>
            <li>
              <a href="/usersHome/YourRequest" class="nav-link">Your Request</a>
            </li>
            <li>
              <a href="/usersHome/Timesheet" class="nav-link">Time-sheet</a>
            </li>
            <li>
              <a href="/usersHome/Activity" class="nav-link1">Activity</a>
            </li>
            <li>
              <a href="/usersHome/YourActivity" class="nav-link">Your Activity</a>
            </li>
            <li>
              <a href="/usersHome/employee/reward" class="nav-link">Reward</a>
            </li>
            <li>
              <a href="/usersHome/employee/history" class="nav-link">History Reward</a>
            </li>
          </ul>
          <a href="/" class="button1">
            <h1>Logout</h1>
          </a>
        </div>
      </nav>
    </div>
  </header>

  <main>
    <div class="form-wrapper1">
      <div class="form-container">
        <h2>Activity Request Form</h2>
        <form action="/usersHome/SendActivity" method="post"> <!-- Form action cập nhật -->

          <div class="form-group">
            <label for="clientID">Client ID:</label>
            <input type="text" id="clientID" name="clientID" placeholder="Enter Client ID" required>
          </div>

          <div class="form-group">
            <label for="clientSecret">Client Secret:</label>
            <input type="password" id="clientSecret" name="clientSecret" placeholder="Enter Client Secret" required>
          </div>

          <div class="form-group">
            <label for="code">Code:</label>
            <input type="text" id="code" name="code" placeholder="Enter Code" required>
          </div>
 

          <button type="submit" class="submit-btn">Submit Activity</button>
        </form>
        <p><a class="link" href="/usersHome/YourActivity">View Existing Activity</a></p>
      </div>
    </div>
  </main>
</body>

</html>